*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.newBody{
    display: flex;
    justify-content: space-between;
  }
  .photo{
    width: 250px;
    height: 300px;
  }
  .box{
    list-style: none;
  }
  .box{
    text-align:center;
    margin: 30px;
    padding: 10px 20px;
    border: 1px black solid;
    border-radius: 8px;
    width: 300px;
    margin: 30px auto;
    background-color: cadetblue;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  .basket{
    background-color: #000;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    font-size: 18px;
    border: none;
    
  }
  .basket:hover{
    border: 1px white solid;
   
  }
  .cart{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
  }
  .info{
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    
  }
  .head{
    margin: 10px auto;
    text-align: center;
    color: white;
  }
  .arrival-head{
    background-color: black;
    color:white;
  }
  .links{
    display: flex;
    justify-content: center;
  }
  .foot-arrivals{
    background-color: black;
    height: 100px;
  }