.newBody{
    display: flex;
    justify-content: space-between;
  }
  .photo{
    width: 250px;
    height: 300px;
  }
  .box{
    list-style: none;
  }
  .box{
    text-align:center;
    margin: 30px;
    padding: 10px 20px;
    border: 1px black solid;
    border-radius: 8px;
    width: 300px;
    margin: 30px auto;
    background-color: cadetblue;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  .basket{
    background-color: #000;
    color: white;
    border-radius: 10px;
  }